.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.limit-width {
  max-width: 60%;
  margin: 0 auto;
  /* Center the container horizontally */
}

.dashboard-container {
  display: flex;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-gap: 20px;
  justify-content: center;
  /* Align items horizontally at the center */
  align-items: flex-start;
  /* Align items vertically at the top */
  margin-top: 50px;
  /* Adjust the top margin as needed */
}

.scan-history {
  grid-column: 1;
  margin-right: 50px;
}

.scan-result {
  grid-column: 2 / span 2;
}

.actions {
  grid-column: 1 / span 3;
}